<ion-view view-title="Doações" ng-controller="animais_adocao">
  <ion-content>
    <ion-list>
      <ion-item-sliding>
        <ion-item ng-repeat="animal in animais" href="#/app/animais_adocao/{{animal.id}}">
          <div style="float:left;">
            <h2>{{animal.title}}</h2>
            <p>{{animal.subtitle}}</p>
            <p>{{animal.location}}</p>
          </div>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </ion-content>
  <ion-tabs class="tabs-light tabs-icon-top">
  
    <ion-tab title="Home" icon-on="ion-home" icon-off="ion-home">
      <!-- Tab 1 content -->
    </ion-tab>
  
    <ion-tab title="Pesquisar" icon-on="ion-ios-search-strong" icon-off="ion-ios-search-strong">
      <!-- Tab 3 content -->
    </ion-tab>
    
    <ion-tab title="Conta" icon-on="ion-person" icon-off="ion-person" ng-click="redirect('editar_perfil')">
      <!-- Tab 3 content -->
    </ion-tab>
  
  </ion-tabs>
</ion-view>
