<ion-view view-title="Cadastre-se no AmigoPet" ng-controller="AppCtrl">
  
  <ion-content>
    
      <form ng-submit="editarDadosPessoa()">
      <div class="list editar_perfil">
          
          <p class="list-header">Informações Pessoais</p>
          
          <label class="item item-input item-floating-label">
            <span class="input-label"t>Nome</span>
            <input id="pessoaNome" name="pessoaNome" type="text" class="ng-touched" placeholder="Nome" ng-model="pessoaNome">
          </label>
          
          <label class="item item-input item-floating-label">
            <span class="input-label"t>CPF</span>
            <input id="pessoaCpf" name="pessoaCpf" type="text" class="ng-touched" placeholder="CPF"  ng-model="pessoaCpf">
          </label>
        
          <label class="item item-input item-floating-label">
            <span class="input-label"t>Endereço</span>
            <input id="pessoaEndereco" name="pessoaEndereco" type="text" class="ng-touched" placeholder="Endereço" ng-model="pessoaEndereco">
          </label>    
          
          <label class="item item-input item-floating-label">
            <span class="input-label"t>Telefone</span>
            <input id="pessoaContato" name="pessoaContato" type="text" class="ng-touched" placeholder="Telefone" ng-model="pessoaContato">
          </label>    
          
          <label class="item">
            <button class="button button-block button-positive" type="submit">Editar</button>
          </label>
          
      </div>
    
  </ion-content>

</ion-view>
