<ion-view view-title="Cadastre-se no AmigoPet" ng-controller="AppCtrl">
  
  <ion-content>
    
      <form ng-submit="editarDadosPessoa()">
      <div class="list editar_perfil">
          
          <p class="list-header">Informações Pessoais</p>
          
          <label class="item item-input item-floating-label">
            <span class="input-label"t>Nome</span>
            <input id="nome" name="nome" type="text" class="ng-touched" placeholder="Nome" ng-value="pessoaNome">
          </label>
          
          <label class="item item-input item-floating-label">
            <span class="input-label"t>CPF</span>
            <input id="cpf" name="cpf" type="text" class="ng-touched" placeholder="CPF"  ng-value="pessoaCpf">
          </label>
        
          <label class="item item-input item-floating-label">
            <span class="input-label"t>Endereço</span>
            <input id="endereco" name="endereco" type="text" class="ng-touched" placeholder="Endereço" ng-value="pessoaEndereco">
          </label>    
          
          <label class="item item-input item-floating-label">
            <span class="input-label"t>Telefone</span>
            <input id="contato" name="contato" type="text" class="ng-touched" placeholder="Telefone" ng-value="pessoaContato">
          </label>    
          
          <label class="item">
            <button class="button button-block button-positive" type="submit">Editar</button>
          </label>
          
      </div>
    
  </ion-content>

</ion-view>
