<ion-view view-title="Acessar AmigoPet">
  <ion-content>
    
    <form ng-submit="logar()">
      <div class="list">
          
          <label class="item item-input item-floating-label">
            <span class="input-label"t>E-mail</span>
            <input id="email" name="email" type="text" class="ng-touched" placeholder="E-mail" ng-model="data.email">
          </label>    
        
          <label class="item item-input item-floating-label">
            <span class="input-label"t>Senha</span>
            <input id="senha" name="senha" type="password" class="ng-touched" placeholder="Senha" ng-model="data.senha">
          </label>
          
          <label class="item">
            <button class="button button-block button-positive" type="submit">Entrar</button>
          </label>
          
      </div>
    </form>
  </ion-content>
</ion-view>
